
body{
    background-color: #777;
}

#container {
    max-width: 960px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border: 1px gray solid;
    position: relative;
}

#profile-image {
    height: 200px;
    width: 300px;
    left: 800px;
}

#navigation {
    color: gray;

}

#about-me {
    text-align: center
}
